@model vidly.Models.Movie

@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie</h2>
<hr />
<p>@Model.Name</p>

<ul>
    <li>Genre: @Model.genreType.Name</li>
    <li>Realese Date: @Model.ReleaseDate</li>
    <li>Date Added: @Model.DateAdded</li>
    <li>Number In Stock: @Model.NumberInStock</li>
</ul>
